/*--------------------------
Reusable OO
--------------------------*/



textarea {
  max-width: 100%;
  resize: vertical;

  min-height: 50px;
  font-family: Arial, sans-serif;
  font-size: 1em;
  padding: 5px;

  white-space: pre-wrap;
  word-wrap: break-word;
}

ul.center-list {
  display: inline-block;

  li {
    text-align: left;
  }
}

ul.no-bullet {
  list-style-type: none;
  padding-left: 0;
  vertical-align: text-top;
}

ul.triangle-bullet {
  li {
    &:before {
      display: inline-block;
      position: relative;
      content: "";

      padding-left: 6px;
      
      border-width: 0.35em 0 0.35em 0.45em;
      border-color: transparent $off-black;
      border-style: solid;

      font-smoothing: antialiased;
    }
  }
}

.no-margin-h {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}

.unpublished {
  box-shadow: 2px 2px 16px 3px red;
}

.bg-black {
  background-color: $off-black;
}

.bg-blue {
  background-color: $light-blue;
}


/*--------------------------
By Item
--------------------------*/
@font-face {
  font-family: "Montserrat";
  
  src:  font-url("Montserrat-Regular.eot") format('embedded-opentype'),        
        font-url("Montserrat-Regular.svg") format('svg'),        
        font-url("Montserrat-Regular.ttf") format('truetype'),
        font-url("Montserrat-Regular.woff") format('woff'),
        font-url("Montserrat-Bold") format('embedded-opentype'),        
        font-url("Montserrat-Bold") format('svg'),
        font-url("Montserrat-Bold") format('truetype'),
        font-url("Montserrat-Bold") format('woff');
  font-weight: normal;
  font-style:  normal;
}

body {
  font-family: "Montserrat", Arial;
  font-size: 16px;
  background-color: white;
}


main {
  padding: 0;
}

#alerts {
  position: absolute;
  width: 100%;
  background-color: rgba($off-white, 0.5);

  .alert {
    text-align: center;
    margin-bottom: 0px;
  }
}

.admin {
  width: 100%;
}

.section {

}


.spacer {
  height: 4em;
  background-color: rgba(0,0,0,0);
}


footer {
  background-color: whitesmoke;
  color: #000;
  box-shadow: 0px 0px 6px 2px #666;
  min-height: 80px;
  
}


#footer-navbar {
  text-align: center;

  @include navbar-gradient($navbar-color);

  font-size: 1.5em;
  color: $navy-blue;

  img {
    max-height: 64px;
  }

  > ul {
    white-space: nowrap;

    > li {
      
      float: none;
      display: inline-block;
      *display: inline;
      *zoom: 1;

      a {
        &:focus, &:hover {
          @include navbar-gradient($light-blue);
        }
      }
    }
  }

}


.tech-icon {
  height: 2em;
  width: 2em;
  display: inline-block;;
  text-align: center;

  img { 
    height: 100%;
  }
}


.quote {
  display: inline-block;

  max-width: 600px;
  margin: 0.5em 0em;

  color: $dark-grey;
}


.card {
  @extend .no-margin-h;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  padding: 1em;

  border-radius: 0.25em;
  color: $navy-blue;

}

.card-white {
  background-color: rgba($off-white, 0.6);
}

.card-black {
  background-color: rgba($off-black, 0.5);
}



#ucla-letters {
  white-space: nowrap;
}

.ucla {
  display: inline-block;
  text-shadow: 2px 2px 3px $off-black;
  font-size: 2.5em;
}

#ucla-1 {
  -webkit-animation: happyletters 1s ease-in-out 0.1s infinite alternate;
  -moz-animation:    happyletters 1s ease-in-out 0.1s infinite alternate;
  animation:         happyletters 1s ease-in-out 0.1s infinite alternate;

}
#ucla-2 {
  -webkit-animation: happyletters 1s ease-in-out 0.2s infinite alternate;
  -moz-animation:    happyletters 1s ease-in-out 0.2s infinite alternate;
  animation:         happyletters 1s ease-in-out 0.2s infinite alternate;
}
#ucla-3 {
  -webkit-animation: happyletters 1s ease-in-out 0.3s infinite alternate;
  -moz-animation:    happyletters 1s ease-in-out 0.3s infinite alternate;
  animation:         happyletters 1s ease-in-out 0.3s infinite alternate;
}
#ucla-4 {
  -webkit-animation: happyletters 1s ease-in-out 0.4s infinite alternate;
  -moz-animation:    happyletters 1s ease-in-out 0.4s infinite alternate;
  animation:         happyletters 1s ease-in-out 0.4s infinite alternate;
}



$happy-letters-degrees: 10deg;

@-webkit-keyframes happyletters {
  0%   { -webkit-transform: rotate(-$happy-letters-degrees); }
  100% { -webkit-transform: rotate($happy-letters-degrees); }
}
@-moz-keyframes happyletters  {
  0%   { transform: rotate(-$happy-letters-degrees); }
  100% { transform: rotate($happy-letters-degrees); }
}
@keyframes happyletters  {
  0%   { transform: rotate(-$happy-letters-degrees); }
  100% { transform: rotate($happy-letters-degrees); }
}



$pulse-letters-size-change: 0.2;
$pulse-letters-opacity-change: 0.2;

@-webkit-keyframes pulseletters {
  0%   { 
    -webkit-transform: scale(1,1); 
    opacity: 1;
  }
  100% { 
    -webkit-transform: scale(1 - $pulse-letters-size-change, 1 - $pulse-letters-size-change); 
    opacity: (1 - $pulse-letters-opacity-change);
  }
}
@-moz-keyframes pulseletters {
  0%   { 
    transform: scale(1,1); 
    opacity: 1;
  }
  100% { 
    transform: scale(1 - $pulse-letters-size-change, 1 - $pulse-letters-size-change); 
    opacity: (1 - $pulse-letters-opacity-change);
  }
}
@keyframes pulseletters {
  0%   { 
    transform: scale(1,1); 
    opacity: 1;
  }
  100% { 
    transform: scale(1 - $pulse-letters-size-change, 1 - $pulse-letters-size-change); 
    opacity: (1 - $pulse-letters-opacity-change);
  }
}
