/*--------------------------
Reusable OO
--------------------------*/

textarea {
  max-width: 100%;
  resize: vertical;

  min-height: 50px;
  font-family: Arial, sans-serif;
  font-size: 1em;
  padding: 5px;

  white-space: pre-wrap;
  word-wrap: break-word;
}

ul.no-bullet {
  list-style-type: none;
  padding-left: 0;
  vertical-align: text-top;
}

.no-gutter {
  [class*="col-"] {
    padding-left:  0;
    padding-right: 0;
  }
}

.card {
  box-shadow: 0px 0px 0.5em 0px #26F inset;
  margin: 0.75em 0;
}

.featured-shadow {
  box-shadow: 2px 2px 8px 6px grey;
}

.unpublished {
  box-shadow: 2px 2px 16px 3px red;
}


.centered {
  display: inline-block;
  vertical-align: middle;

}


.bg-blue {
  background-color: $mediumblue;
}
.bg-yellow {
  background-color: #F6FC86;
}
.bg-cream {
  background-color: cornsilk;
}


/*--------------------------
By Item
--------------------------*/

body {
  font-size: 16px;
  background-color:white;
  font-family: Montserrat;
}


main {
  min-height: 900px;
  padding: 0;
}

.affixable-wrapper {
  margin: 0 0 2px;
}
#navbar {
  background-color: rgba($offwhite,1);
  margin: 0;
  whitespace: nowrap;

  ul {
    white-space: nowrap;
    
    li {
      font-size: 1em;
      float: none;
      display: inline-block;
      *display: inline;
      *zoom: 1;
    }
  }

  #social-icons {
    text-align: center;

    li {
      z-index: 1;

      /* li height should inherit text height.*/
      /* image height should fit to 100% of li height.*/
      img {
        max-width: 30px;
        max-height: 30px;
      }
    }
  }

  #clause {
    text-align: center;

    li.dropdown {
      > a {
        color: $verb-color;

      }
    }

    ul#verb.dropdown-menu {
      min-width: 190px;

      li {
        display: block;

        a {
          .verb {
            float: left;
          }
          .label {
            float: right;
          }
        }

        a:hover {
          color: $verb-color;

          .label-default:hover {
            background-color: #000000;
          }
        }
      }
    }
  }
}


.admin {
  width: 100%;
}

.section {

}


.spacer {
  height: 4em;
  background-color: rgba(0,0,0,0);
}


footer {
  background-color: whitesmoke;
  color: #000;
  box-shadow: 0px 0px 6px #666;

  min-height: 80px;
  
}


#footer-navbar {
  text-align: center;

  font-size: 1.5em;
  color: $navyblue;

  > ul {
    white-space: nowrap;

    > li {
      font-size: 1.4em;
      float: none;
      display: inline-block;
      *display: inline;
      *zoom: 1;
    }
  }
}