textarea {
  max-width: 100%;
  resize: vertical;

  min-height: 50px;
  font-family: Arial, sans-serif;
  font-size: 1em;
  padding: 5px;

  white-space: pre-wrap;
  word-wrap: break-word;
}

/*--------------------------

--------------------------*/

/* bootstrap adjust */

.navbar-default {
  background-color: #F8F8F8;
}
.navbar-fixed-top {
  box-shadow: -1px 2px 5px #888888;
}
.nav-tabs {
  border-bottom: 0px solid #FFFFFF;
}
/**********/
/**********/
/**********/

body {
  font-size: 16px;
  background-color: $lightblue;
}

#navbar {

  ul {
    white-space: nowrap;

    li {
      font-size: 1.4em;
      float: none;
      display: inline-block;
      *display: inline;
      *zoom: 1;
    }
  }

  #social-icons {
    text-align: center;

    li {
      z-index: 1;

      /* li height should inherit text height.*/
      /* image height shoudl fit to 100% of li height.*/
      img {
        max-width: 32px;
        max-height: 32px;
      }
    }
  }

  #clause {
    text-align: center;

    li.dropdown {
      > a {
        color: $verb-color;

      }
    }

    ul#verb.dropdown-menu {
      min-width: 190px;

      li {
        display: block;

        a {
          .verb {
            float: left;
          }
          .label {
            float: right;
          }
        }

        a:hover {
          color: $verb-color;

          .label-default:hover {
            background-color: #000000;
          }
        }

      }
    }

  }

}


main {
  min-height: 900px;
  padding: 1em 0;
}


li.greyed {
  outline: 3px solid yellow;
  background-color: #888;
}

.app {
  iframe {
    width: 100%;
    height: 100%;
  }
}

.article {
    padding: 1em;
    
    background-color: whitesmoke;
    box-shadow: 3px 3px 8px #444;
  }

#articles {
  list-style: none;

}

footer {
  background-color: $lightblue;
  color: #EEEEEE;
}