/*--------------------------
bootstrap adjust 
--------------------------*/

.navbar-default {
  background-color: whitesmoke;
}
.navbar-fixed-top {
  box-shadow: 0px 2px 6px #666;
}
.nav-tabs {
  border-bottom: 0px solid #FFFFFF;
}

/*--------------------------
Reusable OO
--------------------------*/

textarea {
  max-width: 100%;
  resize: vertical;

  min-height: 50px;
  font-family: Arial, sans-serif;
  font-size: 1em;
  padding: 5px;

  white-space: pre-wrap;
  word-wrap: break-word;
}

ul.no-bullet {
  list-style-type: none;
  padding-left: 0;
  vertical-align: text-top;
  li {
    background-image:none;
  }
}

.card {
  box-shadow: 2px 2px 4px 3px #666, 0px 0px 0.5em 0px #26F inset;
  border-radius: 0px;
  margin-top: 1.5em;

  padding: 1em;
  word-wrap: break-word;
  background-color: whitesmoke;
}
li.unpublished {
  box-shadow: 2px 2px 16px 3px red;
}

/*--------------------------
By Item
--------------------------*/

body {
  font-size: 16px;
  background-color: $lightblue;
}

#navbar {

  ul {
    white-space: nowrap;

    li {
      font-size: 1.4em;
      float: none;
      display: inline-block;
      *display: inline;
      *zoom: 1;
    }
  }

  #social-icons {
    text-align: center;

    li {
      z-index: 1;

      /* li height should inherit text height.*/
      /* image height shoudl fit to 100% of li height.*/
      img {
        max-width: 32px;
        max-height: 32px;
      }
    }
  }

  #clause {
    text-align: center;

    li.dropdown {
      > a {
        color: $verb-color;

      }
    }

    ul#verb.dropdown-menu {
      min-width: 190px;

      li {
        display: block;

        a {
          .verb {
            float: left;
          }
          .label {
            float: right;
          }
        }

        a:hover {
          color: $verb-color;

          .label-default:hover {
            background-color: #000000;
          }
        }

      }
    }
  }
}

main {
  min-height: 900px;
  padding: 1em 0 2em 0;
}

.app {


  .app-header {
    padding: 0.5em;
    font-size: 1.5em;
    a {
      text-decoration:none;
    }
  }
  .app-image {
    img {
      width: 100%;
    }
  }
  .app-footer {
    padding: 0.5em;
  }
}

.article {

}

.book {
  max-height: 120px;
  width: auto;
}

footer {
  background-color: whitesmoke;
  color: #000;
  box-shadow: 0px 0px 6px #666;

  min-height: 100px;
}