/* bootstrap adjust */
.nav-tabs {
  border-bottom: 0px solid #DDDDDD;
}
.navbar-default {
  background-color: #F8F8F8;
}

/**********/

body {
  font-size: 16px;

}

#navbar {

  ul {
    white-space: nowrap;

    li {
      font-size: 1.4em;
      float: none;
      display: inline-block;
      *display: inline;
      *zoom: 1;
    }
  }

  #social-icons {
    text-align: center;

    li {
      z-index: 1;

      /* li height should inherit text height.*/
      /* image height shoudl fit to 100% of li height.*/
      img {
        max-width: 32px;
        max-height: 32px;
      }
    }
  }

  #clause {
    text-align: center;

    li.dropdown {
      > a {
        color: $verb-color;
      }
    }

    ul#verb.dropdown-menu {
    
      li {
        display: block;

        a:hover {
          color: $verb-color;
        }

      }
    }

  }

}


main {
  min-height: 1000px;
}


#app {
  iframe {
    width: 100%;
    height: 100%;
  }
}

#articles {
  list-style: none;
  #article {

  }
}

footer {
  background-color: #003494;
  color: #EEEEEE;
}