/*--------------------------
Reusable OO
--------------------------*/


.no-gutter {
  > [class*="col-"] {
    padding-left:  0;
    padding-right: 0;
  }
}

textarea {
  max-width: 100%;
  resize: vertical;

  min-height: 50px;
  font-family: Arial, sans-serif;
  font-size: 1em;
  padding: 5px;

  white-space: pre-wrap;
  word-wrap: break-word;
}

ul.no-bullet {
  list-style-type: none;
  padding-left: 0;
  vertical-align: text-top;
}

.card {
  box-shadow: 0px 0px 0.5em 0px #26F inset;
  margin: 0.75em 0;
}

.featured-shadow {
  box-shadow: 2px 2px 8px 6px grey;
}

.unpublished {
  box-shadow: 2px 2px 16px 3px red;
}


.centered {
  display: inline-block;
  vertical-align: middle;
}


.bg-blue {
  background-color: $mediumblue;
}
.bg-yellow {
  background-color: #F6FC86;
}
.bg-cream {
  background-color: cornsilk;
}


/*--------------------------
By Item
--------------------------*/
@font-face {
  font-family: "Montserrat";
  
  src:  font-url("Montserrat-Regular.eot") format('embedded-opentype'),        
        font-url("Montserrat-Regular.svg") format('svg'),        
        font-url("Montserrat-Regular.ttf") format('truetype'),
        font-url("Montserrat-Regular.woff") format('woff'),
        font-url("Montserrat-Bold") format('embedded-opentype'),        
        font-url("Montserrat-Bold") format('svg'),
        font-url("Montserrat-Bold") format('truetype'),
        font-url("Montserrat-Bold") format('woff');
  font-weight: normal;
  font-style:  normal;
}

body {
  font-family: "Montserrat", Arial;
  font-size: 16px;
  background-color: white;
}


main {
  padding: 0;
}

#alerts {
  position: absolute;
  width: 100%;
  background-color: rgba($off-white, 0.5);
}

.admin {
  width: 100%;
}

.section {

}


.spacer {
  height: 4em;
  background-color: rgba(0,0,0,0);
}


footer {
  background-color: whitesmoke;
  color: #000;
  box-shadow: 0px 0px 6px 3px #666;
  min-height: 80px;
  
}


#footer-navbar {
  text-align: center;

  font-size: 1.5em;
  color: $navyblue;

  > ul {
    white-space: nowrap;

    > li {
      font-size: 1.4em;
      float: none;
      display: inline-block;
      *display: inline;
      *zoom: 1;
    }
  }
}