/**************************
GENERAL VARIABLES
**************************/

/*----------
Mixins - Dimensions
----------*/

$body-padding-xs: 108px;
$body-padding-sm: 53px;

/* 
Responsive widths
*/



/*----------
Mixins - Positioning
----------*/


.clear-both {
  clear: both;
}

/*----------
Mixins - Colors
----------*/

$offwhite: rgb(245,245,245);
$offblack: rgb(30,30,30);

$blacktransparent: rgba(30,30,30,0.7);

$blueucla: rgb(0,139,236);
$yellowucla: rgb(239,214,53);

$verb-color: #008CFF;

$lightblue: #C0E0FA;
$mediumblue: #2EAFFF;
$navyblue: #236;
$purpleblue: #66F;


span.blue {
  color: $blueucla;
}
span.yellow {
  color: $yellowucla;
}

/*--------------
Mixins - Styling
--------------*/

@mixin boxshadow($h: 0px, $v: 2px, $bl: 4px, $sp: 3px, $color: #666) {
  box-shadow: $h, $v, $bl, $sp, $color;
}