/**************************
GENERAL VARIABLES
**************************/


/*----------
Mixins - Dimensions
----------*/

$body-padding-xs: 108px;
$body-padding-sm: 50px;

$gutter-size: 15px;

/* 
Responsive widths
*/



/*------------------
Mixins - Positioning
------------------*/

$navbarHeight: 50px;

.clear-both {
  clear: both;
}

@mixin center-vertical-absolute {
  position: absolute;
  text-align: center;
  width:100%;

  //padding-top:100%;

  -webkit-transform: translateY(-50%); /* child now centers itself relative to the midline based on own contents */
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-filter: 'progid:DXImageTransform.Microsoft.Matrix(Dx=0,Dy=0)'; /*IE8 */
  filter: progid:DXImageTransform.Microsoft.Matrix(Dx=0,Dy=0); /*IE6, IE7*/
  transform: translateY(-50%);    
  
}

@mixin center-vertical-relative {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.centered {
  display: inline-block;
  vertical-align: middle;
}

/*-------------
Mixins - Colors
-------------*/

$standard-link-color: #428BCA;
$standard-visited-link-color: #2A6496;


$off-black: rgb(30,30,30);
$transparent-black: rgba(25,25,25, 0.9);
$dark-grey: #444444;
$off-white: rgb(245,245,245);


$yellow-ucla: rgb(239,214,53);
$blue-ucla: rgb(25,110,250);


$hint-blue: #E6F3FF;
$light-blue: #C0E0FF;
$medium-blue: #67AFFF;
$navy-blue: #071030;
$purple-blue: #66F;


/*
dependent colors
*/
$nav-link-color: $dark-grey;
$navbar-color: $light-blue;
$navbar-border-color: $navbar-color - #555555;

$verb-color: $medium-blue;

.color-blue-ucla {
  color: $blue-ucla;
}
.color-yellow-ucla {
  color: $yellow-ucla;
}



/*--------------
Mixins - Styling
--------------*/

@mixin boxshadow($h:-1px, $v:3px, $bl:3px, $sp:2px, $color:#777) {
  box-shadow: $h $v $bl $sp $color;
}

@mixin navbar-gradient($color:$navbar-color){
  background: linear-gradient(
    $color + #333333 0%, 
    rgba($color + #030303, 0.99) 55%, 
    $color - #050505 45%, 
    rgba($color + #040404, 0.95) 100%);
}

@mixin textshadow($h:1px, $v:1px, $bl:1px, $color:black) {
  text-shadow: $h $v $bl $color;
}