/**************************
GENERAL VARIABLES
**************************/

/*----------
Mixins - Dimensions
----------*/

$body-padding-xs: 108px;
$body-padding-sm: 53px;

/* 
Responsive widths
*/



/*----------
Mixins - Positioning
----------*/


/*----------
Mixins - Colors, Styling
----------*/

$verb-color: #008CFF;

$lightblue: #C0E0FA;
$navyblue: #236;
$purpleblue: #66F;

.clear-both {
  clear: both;
}