#about-list {
  display: inline-block;
}



$happy-letters-degrees: 10deg;

@-webkit-keyframes happyletters {
  0%   { -webkit-transform: rotate(-$happy-letters-degrees); }
  100% { -webkit-transform: rotate($happy-letters-degrees); }
}
@-moz-keyframes happyletters  {
  0%   { transform: rotate(-$happy-letters-degrees); }
  100% { transform: rotate($happy-letters-degrees); }
}
@keyframes happyletters  {
  0%   { transform: rotate(-$happy-letters-degrees); }
  100% { transform: rotate($happy-letters-degrees); }
}



$pulse-letters-size-change: 0.2;
$pulse-letters-opacity-change: 0.2;

@-webkit-keyframes pulseletters {
  0%   { 
    -webkit-transform: scale(1,1); 
    opacity: 1;
  }
  100% { 
    -webkit-transform: scale(1 - $pulse-letters-size-change, 1 - $pulse-letters-size-change); 
    opacity: (1 - $pulse-letters-opacity-change);
  }
}
@-moz-keyframes pulseletters {
  0%   { 
    -moz-transform: scale(1,1); 
    opacity: 1;
  }
  100% { 
    -moz-transform: scale(1 - $pulse-letters-size-change, 1 - $pulse-letters-size-change); 
    opacity: (1 - $pulse-letters-opacity-change);
  }
}
@keyframes pulseletters {
  0%   { 
    transform: scale(1,1); 
    opacity: 1;
  }
  100% { 
    transform: scale(1 - $pulse-letters-size-change, 1 - $pulse-letters-size-change); 
    opacity: (1 - $pulse-letters-opacity-change);
  }
}



.ucla {
  text-shadow: 1px 1px 1px $offblack;
}

#ucla-1 {
  -webkit-animation: happyletters 1s ease-in-out 0.1s infinite alternate;
  -moz-animation:    happyletters 1s ease-in-out 0.1s infinite alternate;
  animation:         happyletters 1s ease-in-out 0.1s infinite alternate;

  -moz-transform: rotate(30deg);
}
#ucla-2 {
  -webkit-animation: happyletters 1s ease-in-out 0.2s infinite alternate;
  -moz-animation:    happyletters 1s ease-in-out 0.2s infinite alternate;
  animation:         happyletters 1s ease-in-out 0.2s infinite alternate;
}
#ucla-3 {
  -webkit-animation: happyletters 1s ease-in-out 0.3s infinite alternate;
  -moz-animation:    happyletters 1s ease-in-out 0.3s infinite alternate;
  animation:         happyletters 1s ease-in-out 0.3s infinite alternate;
}
#ucla-4 {
  -webkit-animation: happyletters 1s ease-in-out 0.4s infinite alternate;
  -moz-animation:    happyletters 1s ease-in-out 0.4s infinite alternate;
  animation:         happyletters 1s ease-in-out 0.4s infinite alternate;
}

