#about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;

  text-align: center;
  
  @extend .no-margin-h;

}

#about-content {
  @extend .card;
  @extend .card-white;
}

#about-list {
  display: block;

  li {
    text-align: left;
  }
}
