#about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;

  text-align: center;
  
  @extend .no-margin-h;

}

#about-list {
  display: block;

  li {
    text-align: left;
  }
}

.quote {
  display: inline-block;

  max-width: 600px;

  color: $dark-grey;
}