// Place all the styles related to the Apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#works {

}

.app-link {


  .app {
    position: relative;
    opacity: 0.9999; /* for inset box shadow */ /* creates stacking context */

    margin: 15px 0px;
    border: 1px solid $light-blue;

    .app-name {
      z-index: 1;
      position: absolute;
      left: 0;
      
      display: flex;
      align-items: center;
      justify-content: center;
      
      text-align: center;

      height: 100%;
      width: 100%;

      opacity: 0.999;    
      transition: all 0.3s;

      &.active {
        opacity: 0;
      }

      span {
        font-size: 2em;
        text-decoration: none;
        color: $light-blue;
        @include textshadow(1px, 1px, 3px, $navy-blue);
      }

    }

    .app-image {
        
      width: 100%;
      height: 100%;

      box-shadow: 0 0 1.5em 0.25em $off-black inset; /* for inset box shadow */
      
      img {      
        position: relative; /* for inset box shadow */
        z-index: -1;        /* for inset box shadow */

        width: 100%;
        height: 100%;

        opacity: 0.4;
        transition: all 0.3s;
          
        &.active {
          opacity: 1;
        }
      }

    }
  }
}  


.modal-exit {
  cursor: pointer;
}
.modal-app-image {
  width: 100%;
}

