// Place all the styles related to the Apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#works {
  background-color: black;
}


.app {
  position: relative;

  display: flex;
  justify-content: center;

  margin: 15px 0px;
  border: 1px solid $light-blue;

  .app-name {
    position: absolute;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 100%;
    width: 100%;

    font-size: 2em;

    text-decoration: none;
    color: $light-blue;
    opacity: 1;    
    transition: all 0.3s;

    &.active {
      opacity: 0;
    }
  }

  .app-image {

    opacity: 0.4;
    transition: all 0.3s;
    
    &.active {
      opacity: 1;
    }

    img {

      height: 100%;
      width: 100%;
    }

  }

}  



.modal-app-image {
  width: 100%;

}