// Place all the styles related to the Apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*
.app-container:nth-child(3n+1) {
  clear: both;
}
*/

/*
.app {
  padding: 1em;
  word-wrap: break-word;
  background-color: whitesmoke;

  .app-header {
    padding: 0.5em;
    font-size: 1.2em;
    a {
      text-decoration:none;
    }
  }
  .app-image {
    img {
      width: 100%;
    }
  }
  .app-footer {
    padding: 0.5em;
  }
}
*/

/*
#works {
  width: 100%;
  display: flex;
  flex-flow: row wrap;

  .app {
    flex: 1 1 0 ;
    background-color: rgba(0,0,0, 0.9);

    display: flex;
    flex-flow: column nowrap;

    img {
        
    }
  }
}
*/


#works {
  background-color: black;
}


.app {
  position: relative;

  display: flex;
  justify-content: center;

  margin: 15px 0px;
  
  .app-name {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    height: 100%;
    width: 100%;

    font-size: 2em;
    border: 1px solid $light-blue;
    z-index: 2;

    text-decoration: none;
    color: $light-blue;

    opacity: 1;
    
    transition: all 0.3s;

    &.active {
      opacity: 0;
    }
  }

  .app-image {
    height: 100%;
    width: 100%;

    opacity: 0.4;
    
    transition: all 0.3s;
    
    &.active {
      opacity: 1;  
    }
  }

}  



.modal-app-image {
  width: 100%;

}