// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#blog {
  background-color: black;
}

%article-element {
  margin: 15px auto;
  padding: 10px;

  max-height: 600px;
  overflow: auto;

  @include boxshadow();
}

#articles-nav {
  @extend %article-element;
  background-color: $off-white;

  ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;

    li {
      margin-left: 0px;

      a {
        color: $nav-link-color;
        text-decoration: none;

        &:hover, &:focus {
          color: $blue-ucla;
        }
      }

      &:before {
        display: inline-block;
        position: relative;
        content: "";
        
        border-width: 0.35em 0 0.35em 0.45em;
        border-color: transparent $off-black;
        border-style: solid;

        font-smoothing: antialiased;
      }

      &.active {
        pointer-events: none;

        &:before {
          display: inline-block;
          position: relative;
          content: "";
          
          border-color: transparent $blue-ucla;
        }

        a {
          color: $blue-ucla;

          &:active, &:hover, &:focus {
            color: $blue-ucla;
          }

        }
      }
      
    }
  }
}

#article {
  @extend %article-element;

  background-color: $off-white;
  
}

#article-show {
  background-color: rgba($light-blue, 1);
}

/*
.article {
  padding: 1em;
  word-wrap: break-word;
  background-color: whitesmoke;
}*/