// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#blog {
  background-color: rgba($mediumblue, 0.6);
}

%article-element {
  margin: 15px auto;
  padding: 6px;
  @include boxshadow;
}

#articles-nav {
  @extend %article-element;
  background-color: $offwhite;

  #articles-nav li.active {
    pointer-events: none;
  }
}

#article {
  @extend %article-element;
  background-color: $offwhite;
}

.article {
  padding: 1em;
  word-wrap: break-word;
  background-color: whitesmoke;
}