// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#blog {
  background-color: rgba($mediumblue, 0.6);
}

%article-element {
  margin: 15px auto;
  padding: 10px;
  @include boxshadow();
}

#articles-nav {
  @extend %article-element;
  background-color: $off-white;

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0px;

    li {
      margin-left: 0 10px;

      a {
        color: grey;
        text-decoration: none;

        &:hover, &:focus {
          color: $standard-link-color;
        }
      }

      &:before {
        display: inline-block;
        position: relative;
        content: "";
        
        border-width: 0.35em 0 0.35em 0.45em;
        border-color: transparent $offblack;
        border-style: solid;
      }

      &.active {
        pointer-events: none;

        &:before {
          display: inline-block;
          position: relative;
          content: "";
          
          border-color: transparent $blue-ucla;
        }

        a {
          color: $standard-link-color;

          &:hover, &:focus {
            color: $standard-link-color;
          }
        }
      }
      
    }
  }
}


#article {
  @extend %article-element;
  background-color: $off-white;
  padding: 10px;
}

/*
.article {
  padding: 1em;
  word-wrap: break-word;
  background-color: whitesmoke;
}*/