#cover {
  transform-style: preserve-3d;

  text-align: center;

  #cover-headline {
    @include center-vertical-relative;
    
    color: $navy-blue;
    @include textshadow(-1px, -1px, 1px, $medium-blue);

    #padding: 1em;
    #border-radius: 0.25em;
    #background-color: rgba(black, 0.6);

    h1, h2 {
      margin: 0;
    }
  }

}

