#cover {
  transform-style: preserve-3d;

  text-align: center;

  // background-color via js

  #cover-headline {
    @include center-vertically;

    
    text-shadow: 1px 1px 1px $off-white;
  }

}

