#cover {
  display: flex;
  justify-content: center;
  align-content: center;  
}

#cover-innerwrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.cover-content {
  @extend .card;
  @extend .card-white;
}
#profile {
  display: relative;
  z-index: -1;

  margin: 1.5em 0px;

  box-shadow: 0px 0px 0.5em 0px $light-blue inset;
  @include textshadow(-1px, -1px, 1px, $medium-blue);
}

#cover-headline {
  margin-bottom: 0.5em;
}