.parallax-bg {
  position: absolute;

  width: 100%;
  //height via js

  z-index: -1;
  
  background-image: image-url("blue_architecture_depth.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

}

#cover-bg {
  
}