$parallax-bg-z-index-base: -100;

@mixin parallax-bg-child ($n){
  z-index: $parallax-bg-z-index-base + $n;
}

.parallax-bg {
  position: absolute;

  width: 100%;
  //height set by js
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

}

#cover-bg {
  @include parallax-bg-child(1);
  background-image: image-url("backgrounds/architecture_depth.jpg");
}
#works-bg {
  @include parallax-bg-child(2);
}
#blog-bg {
  @include parallax-bg-child(3);
}
#bookshelf-bg {
  @include parallax-bg-child(4);
}
#about-bg {
  @include parallax-bg-child(-5);
  background-image: image-url("backgrounds/architecture_entrance.jpg");
}