#skills {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;

  padding: 0 $gutter-size $gutter-size 0;

  > * {
    margin: $gutter-size 0 0 $gutter-size;
  }

  @extend .no-margin-h;
}

.skill-card {
  flex: 1 1 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  
  padding: 1em;
  
  border-radius: 0.25em;
  background-color: rgba($off-black, 0.5);
  color: $off-white;

  > h1 {
    color: black;
  }

  > *:not(ul) {
    width: 100%;
  }  

}
